---
import Container from "@components/container.astro";
import Layout from "./Layout.astro";
import { getFormattedDate } from '@utils/all';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container>
    <div class="mx-auto max-w-[735px] mt-14">
      <img src={frontmatter.image} alt={`Image of ${frontmatter.title}`} class="mb-4 rounded" />
      <a href={`/blog/category/${frontmatter.category.toLowerCase()}`} class="text-blue-400 hover:text-blue-500 uppercase tracking-wider text-sm font-medium">
        {frontmatter.category}
      </a>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {frontmatter.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center">
        <a href={`/blog/author/${frontmatter.author.toLowerCase()}`} class="text-gray-400 hover:text-gray-500">
          {frontmatter.author}
        </a>
        <span class="text-gray-400">•</span>
        <time class="text-gray-400" datetime={frontmatter.publishDate}>
          {getFormattedDate(frontmatter.publishDate)}
        </time>
        <span class="text-gray-400">•</span>
        <div class="flex gap-3">
          {
            frontmatter.tags.map((tag: string) => (
              <a href={`/blog/tags/${tag.toLowerCase()}`} class="text-sm text-gray-500 hover:text-gray-600">#{tag}</a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6">
      <slot />
    </div>
    <div class="text-center mt-8">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
